<link rel="stylesheet" type="text/css" href="/CSS/confirm_email.css">

<div id="confirm-email-body">

    <div class="forgot-password-container">

        <h1 id="forgot-password-heading">Forgot Password?</h1>
        <form action="/users/confirm-email" method="POST">
            <input type="email" name="email" placeholder="Enter Email" required>
            <button class="submit-btn" type="submit" >Submit</button>
        </form>
    </div>
</div>