<link rel="stylesheet" type="text/css" href="/CSS/reset_password.css">

<div id="reset-password-body">

    <div class="reset-password-container">

        <h1 class="reset-password-heading">Reset Password</h1>

        <form action="/users/reset-password/<%= resetId %>" method="POST">
            <input type="password" name="password" placeholder="Enter Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            <button class="reset-btn" type="submit">Reset Password</button>
        </form>
    </div>

</div>